button {
    color: rgb(255, 255, 255);
    background-color: #d53e10;
    width: 8rem;
    height: 3rem;
    transition: 0.2s ease;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #e14616;
}