button {
    color: rgb(255, 255, 255);
    background-color: #d53e10;
    width: var(--button-width);
    height: var(--button-height);
    transition: 0.2s ease;
    cursor: pointer;
    border: 0;
    border-radius: var(--button-border-radius);
    font-size: 1rem;
}

button:hover {
    background-color: #e14616;
}