@media (max-width: 480px) {
  :root {
    font-size: 16px;

  /* Default: Mobile (XS)  */
  --header-height: 3rem;
  --footer-height: 3.2rem;
  --card-width: 80%;
  --card-height: 50%;
  --card-padding: 0.75rem;
  --card-border-radius: 0.5rem;
  
  /* Buttons & Selectors */
  --button-height: 3rem;
  --button-width: 8rem;
  --button-padding-lr: 0.75rem;
  --button-border-radius: 0.4rem;
  --back-button-width: 3rem;
  --back-button-height: 4rem;
  --selector-width: 16rem;

  /* Font Sizes */
  --font-h1: 1.5rem;
  --font-h2: 1.4rem;
  --font-h3: 1.2rem;
  --font-h4: 1rem;
  --font-h5: 0.8rem;
  --font-p: 0.8rem;

  /* Icons */
  --icon-header: 4rem;
  --icon-card: 4rem;
  }
}


/* 📱 Mobile (Small) */
@media (min-width: 480px) {
  :root {
    font-size: 16px;

    --header-height: 3rem;
    --card-width: 65%;
    --card-height: 50%;
    --card-padding: 0.75rem;
    --card-border-radius: 0.5rem;
    
    --button-height: 3rem;
    --button-width: 8rem;
    --button-padding-lr: 0.75rem;
    --button-border-radius: 0.4rem;
    --back-button-width: 3rem;
    --back-button-height: 4rem;
    --selector-width: 16rem;

    --font-h1: 1rem;
    --font-h2: 0.9rem;
    --font-h3: 0.8rem;
    --font-p: 0.6rem;

    --icon-header: 4rem;
    --icon-card: 4rem;
  }
}


/* 📱 Tablet */
@media (min-width: 768px) {
  :root {
    font-size: 18px;
    --header-height: 2.5rem;
    --card-width: 50%;
    --card-height: 50%;
    --card-padding: 1rem;
    --card-border-radius: 0.5rem;
    
    --button-height: 3rem;
    --button-width: 8rem;
    --button-padding-lr: 0.75rem;
    --button-border-radius: 0.4rem;
    --back-button-width: 3rem;
    --back-button-height: 4rem;
    --selector-width: 16rem;

    --font-h1: 1rem;
    --font-h2: 0.9rem;
    --font-h3: 0.8rem;
    --font-p: 0.6rem;
    
    --icon-header: 4rem;
    --icon-card: 4rem;
  }
}

/* 🖥️ Desktop */
@media (min-width: 1024px) {
  :root {
    font-size: 18px;
    --header-height: 2.5rem;
    --card-width: 50%;
    --card-height: 50%;
    --card-padding: 1rem;
    --card-border-radius: 0.5rem;
    
    --button-height: 3rem;
    --button-width: 8rem;
    --button-padding-lr: 0.75rem;
    --button-border-radius: 0.4rem;
    --back-button-width: 3rem;
    --back-button-height: 4rem;
    --selector-width: 16rem;

    --font-h1: 1rem;
    --font-h2: 0.9rem;
    --font-h3: 0.8rem;
    --font-p: 0.6rem;
    
    --icon-header: 4rem;
    --icon-card: 4rem;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 20px;
    --header-height: 2.5rem;
    --card-width: 50%;
    --card-height: 50%;
    --card-padding: 1rem;
    --card-border-radius: 0.5rem;
    
    --button-height: 3rem;
    --button-width: 8rem;
    --button-padding-lr: 0.75rem;
    --button-border-radius: 0.4rem;
    --back-button-width: 3rem;
    --back-button-height: 4rem;
    --selector-width: 16rem;

    --font-h1: 1rem;
    --font-h2: 0.9rem;
    --font-h3: 0.8rem;
    --font-p: 0.6rem;
    
    --icon-header: 4rem;
    --icon-card: 4rem;
  }
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none !important;
}